form{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    margin: 20px;
    border-radius: 5px;
    padding: 20px;

    .campo{
        display: flex;
        margin: 20px 0px;
        
        label{
            margin-right: 20px;
            font-size: 18px;
            align-self: flex-end;
        }

        .input-text{
            border-radius: 3px;
            padding: 5px;
        }

    }

    .submit-button{
        background-color:#000;
        border-radius: 5px;
        font-weight: 700;
        padding: 5px;
        color:  #fff;

        &:hover{
            font-size: 15px;
            cursor: pointer;
        }

    }
}