.control-presupuesto{
    padding: 20px;
    margin: 20px;
    min-width: 150px;
    max-height: 150px;
    border-radius: 5px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    
    div{
        padding: 5px;
        border-radius: 3px;
    }

    .restante{
        .alert-danger{
            color: rgb(168, 62, 62);
            font-weight: 600;
        }
        .alert-warning{
            color: rgb(255, 157, 0);
            font-weight: 600;
        }

        .alert-success{
            color: rgb(51, 177, 82);
            font-weight: 600;
        }
    }
}