*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url("./img/ladrillo-bg2.jpg");
    height: 100vh;
    background-position: center center;
    z-index: 5;
    font-family: 'Open Sans Condensed', sans-serif;
    display: flex;
    flex-direction: column;

    .title-img-container{
        display: flex;
        justify-content: center;

        .title-img{
            width: 500px;
        }
    }
}


.contenido-principal{
    display: flex;
    flex-direction: column;

    .pregunta-box{
        align-self: center;
    }
    .contenido-gastos{
        display: flex;
        justify-content: center;
        
    }   
}


h1{
    display: none;
}
  
@media only screen and (max-width: 600px){
    body{
        .title-img-container{
            .title-img{
                width: 250px;
            }
        }
    }
}